body { 
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #4f3bff;
  padding: 20px 10px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 2px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;

}

header a:not(.tlogo):hover{
  color: #4f3bff;
  background-color: #ffffff;
  border-radius: 15%;
}

nav {
  display: flex;
  align-items: center;
  margin: 30px;
}

nav a{
  margin: 5px;
}

.active{
  color: #4f3bff;
  background-color: #ffffff;
  border-radius: 15%;
}

.btw{
  border-radius: 50%;
}

.tlogo{
  background-color: #4f3bff;
  font-size: 24px; 
}